*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

body{
  height: 100vh;
  overflow: hidden;
}

a,button {
  outline: none;
  text-decoration: none;
  cursor: pointer;
}

div.nav-bar-top {
  background: #00274e;
  position: fixed;
  top: 0;
  left: 0;
  height: 80px;
  width: 100vw;
}

.nav-bar-top > div {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  width: calc(99vw - 300px);
  margin-top: 1.5vh;
}

.nav-bar-top > div > ul{
  display: inline-block;
  width: auto;
}

.nav-bar-top > div > ul > li {
  display: inline-block;
  height: 10vh;
  position: relative;
}

.nav-bar-top > div > ul > li:not(:first-child)::after{
  content: "";
  display: block;
  background: #717171;
  height: 3px;
  height: 60%;
  width: 1px;
  position: absolute;
  top: 20%;
  left: 0;
}

.info-header {
  height: 30vh;
  background: #0090ff9c;
}

.info-header > label {
  width: 100%;
  height: 23vh;
  text-align: center;
  display: block;
  margin: 0 auto;
  font-size: 120px;
  color: beige;
  font-family: 'Anton',sans-serif;
  animation: transicion 2s ease-in forwards;
}
.info-header > label ~ label{
  color: #5d5d6f;
  font-size: 2.9vh;
  height: 7vh;
}

.nav-bar-top > div > ul button{
  padding: 3vh 1vw;
  color: antiquewhite;
  font-size: 3vh;
}

.nav-bar-top > div > label{
  display: inline-block;
  font-size: 4.5vh;
  font-family: 'Helvetica Neue', sans-serif;
  color: #ffffff;
}

@keyframes pulse{
  0%  { box-shadow: 0 0 0 0 #fff;}
  50% { box-shadow: 0 0 0 12.5px rgba(255,255,255,0.5); transform: scale3d(1.2, 1.2, 1.2);}
  100% { box-shadow: 0 0 0 25px transparent; transform: scale3d(1, 1, 1);}
}

.nav-bar-top > div > ul li:hover button{
  padding: 3vh 2.5px;
  color: rgb(0, 225, 255);
  margin-left: 5px;
  border-radius: 5%;
  background: #00cbff4d;
}

@keyframes transicion {
  0%{ opacity: 0; visibility: hidden;}
  50%{ opacity: 0.5; visibility: visible; }
  100%{ opacity: 1; visibility: visible; }
}


#main,#sub-main{
  height: calc(100vh - 80px);
  width: 100vw;
  overflow: auto;
  position: relative;
  background: #eaebee;
  top: 80px;
  left: 0;
}

#sub-main{ display: none;}

h1{
  padding-top:20px;
  text-align: center;
  margin-bottom: 20px;
  animation: transicion 1s ease-in forwards;
  margin:auto;
  font-weight: 300;
  color: #31414c;
  font-size: 48px;
}


h4 {
    font-size: 36px;
    padding-top: 10%;
    transform: translateY(-50%);
    text-align: center;
    color: white;
}

ul {
  list-style-type: none;
  width: 100%;
}

ul, ul button{
    width: 100%;
    background: none;
    border: none;
    font-size: 4.5vh;
    padding-top: .5vh;
    text-transform: uppercase;
    color: #1c4356;
    outline: none;
    cursor: pointer;
    transition:.5s ease-in;
}

ul.side-bar li {
  height: 7vh;
  margin-top:1vh;
}

ul.side-bar button:hover{
  background: linear-gradient(to right, #2d6eaf,rgb(0, 225, 255));
  color: white;
  width: 90%;
  margin: auto;
  height: 7.5vh;
  margin-left: 5%;
  border-radius: 25px;
  box-shadow: #777 -1px 9px 10px -5px;
}

p {
  padding: 5px 25px;
  font-size: 16px;
  text-align: justify;
  width: calc(100% - 160px);
  color: #3f6486;
  opacity: 0;
  animation: textleft 1s forwards ease-out;
  animation-delay: 2s;
}

@keyframes textup{
  0%{ margin-top: 100%; opacity: 0; visibility: hidden; }
  50% { margin-top: 50%; opacity: 0.5; visibility: visible; }
  100% { margin-top: 0; opacity: 1; }
}

@keyframes textleft{
  0%{ margin-left: 100%; opacity: 0; visibility: hidden; }
  50% { margin-left: 50%; opacity: 0.5; visibility: visible; }
  100% { margin-left: 0; opacity: 1; }
}

#window {
  padding: 5px 25px;
  min-height: 57.5vh;
  background-color:white;
}

.blog-post{
  width: 95%;
  margin: .5vh auto 2vh;
  border: 1px solid #ccc;
  border-color: transparent #ccc #ccc;
  height: 75vh;
  position: relative;
  animation: textup 2s ease-in-out;
}

.blog-header{
  height: 80%;
}

.blog-header > div {
  background: #556073;
  height: 13%;
  margin-bottom: 1%;
}

.blog-header > div > label, .blog-header > div > a{
  color: white;
  display: inline-block;
  vertical-align: top;
  height: 25%;
  width: 90%;
  padding: 0.5em;
  font-size: 21px;
}

.blog-header > div > label:first-child{
  width: 5%;
  height: 100%;
  border-right: 5px solid white;
  text-align: center;
}

.blog-header img{
  width: 50%;
  height: 80%;
  margin-left: 25%;
}

.blog-body{
  height: 20%;
}

.blog-body > button{
  position: absolute;
  height: 40px;
  width: 150px;
  color: #535363;
  border-radius: 5px;
  font-size: larger;
  background: linear-gradient(to right, #3dd4e09c, #2986d6ba,#3dd4e09c);
  background-size: 200%;
  right: 10px;
  border: none;
  top: calc(75vh - 50px);
  box-shadow: 0px 12px 14px -9px #080433;
  animation: transicion 1s forwards;
  opacity: 0;
  animation-delay: 2.5s;
  transition: 1s linear;
}

.blog-body > button:hover{
  background-position: 100%;
  box-shadow: none;
  transition: 1s linear;
}

.modal {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: radial-gradient(circle,#ffffff,#888686,#3a3939);
}

.hidden{
  opacity: 0;
  visibility: hidden;
  display: none;
}

.modal-window {
  max-height: 90vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  height: 90vh;
  width: 90vw;
  background: white;
}

.modal-header{
  background:#021B2B;
  width:100%;
  height: 20%;
  border-radius: 5px 5px 0 0;
  position:relative;
}

.modal-body{
  padding:25px;
  height: 80%;
  overflow: auto;
  width: 99.5%;
  overflow-x: hidden;
  text-align: center;
}

.modal-body a{
  display: block;
  animation: textleft 1s forwards linear;
  animation-delay: 2s;
  text-align: justify;
}

.modal-body p{
  animation: textleft 1s forwards linear;
  animation-delay: 2s;
  width: 100%;
  padding:5px;
}

button.close {
  font-size: 36px;
  position: fixed;
  top: 5px;
  right: 5px;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: none;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .2;
  background: white;
}

button.close:hover{
  color:#ffffff; opacity:1;
  background: #060606;
}

.titulo{
  font-size: 40px;
  color: #00274e;
  text-align: left;
}

.section{
  background: #cacaca;
  width: 100%;
  padding: 2px;
  position: relative;
  max-height: 75vh;
  opacity: 0;
  animation: textleft 1s forwards linear;
  animation-delay: 4s;
}

.section iframe{
  height: 70vh;
  width: 80%;
}

button.show{
  font-size: 20px;
  width: 250px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid white;
  color: #102d20;
  background: #4880da;
}

button.show:hover{
  box-shadow: 0 0 20px 3px #ffffff;
}

button.show.clicked{
  position: absolute;
  top: 5px;
  left: 5px;
  background: #628bb9cc;
  transition: 1s;
  width: 150px;
}
button.show.clicked:hover{
  background: #628bb9;
}

.about p{animation-timing-function: linear; animation-delay:1s; display: inline-block;}
.about {margin:2.5vh; padding:2.5vh; background: white;}
.linear {
  position: relative;
  margin: 1vw;
  height: 1px;
  background: #31414c;
  animation: transicion 1s linear;
}

.linear::after{
  content: "";
  background: #31414c;
  box-shadow: inset 0 0 0 0 white;
  border: 10px solid white;
  margin-left: 50%;
  height: 25px;
  width: 25px;
  border-radius: 100%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
}
.actividades.first { margin-top:2vh; background: #eaebee; animation: transicion 1s linear;}
.actividades.first p { font-size: 24px; color:black; }
.actividades p:first-child{width: 4%;}
.actividades p:nth-child(2){width: 14%;}
.actividades p:nth-child(3){width: 50%;}
.actividades p:nth-child(4){width: 30%;}
